{% extends "base.html" %}

{% block content %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row p-4">
            <div class="col-md-12">
    <h1 class="h3"><i class="fa-thin fa-comments"></i> Chat</h1>
    <div id="box">
        {% for chat in chat_history %}
        {% if chat.type == "human" %}
            <div class="row p-4">
                <div class="col-sm-2 col-md-2 align-self-center">
                    <img src="{{ url_for('static', filename='assets/images/user-shakespeare-regular.svg') }}"
                         class="user-avatar" alt="USER" />
                </div>
                <div  class="col-sm-10 col-md-10">
                    <div class="card bg-light border-primary"><div class="card-body">

                        <lexi-mark class="user-message">{{ chat.content }}</lexi-mark>

                    </div></div>
                </div>
            </div>
        {% elif chat.type == "ai" %}
            <div class="row p-4">
                <div class="col-sm-2 col-md-2 align-self-center">
                    <img src="{{ url_for('static', filename='assets/images/momo-avatar.jpg') }}"
                         class="ai-avatar rounded rounded-3 border" alt="AI" />
                </div>
                <div  class="col-sm-10 col-md-10">
                <div class="card"><div class="card-body">

                    <lexi-mark class="assistant-message">{{ chat.content }}</lexi-mark>

                </div></div>
                </div>
            </div>

        {# else if you want to show the role of the chat
        <div>
            <lexi-mark class="assistant-message">{{ chat.role }}: {{ chat.content }}</lexi-mark>
        </div>
        #}

        {% endif %}
        {% endfor %}
    </div>
    <div class="chat-controls">
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="inputBoxID"></textarea>
            <input type="hidden" value="{{ chat_session }}" id="chatSession" />
        </div>
        <div class="mb-3">
        <button id="StartChat" class="btn btn-primary"><i class="fa-sharp fa-regular fa-message-lines"></i> Send Chat</button>
        <button id="stop" class="btn btn-secondary">Stop</button>
        </div>
    </div>
    </div>
            </div>
        </main>

    <script src="{{ url_for('static', filename='assets/js/LexiStream.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const streamConfig = {
                sendRequest: "/chat",
                listen: "/stream",
                sendContent: "#inputBoxID",
                sessionContent: "#chatSession",
                start: "#StartChat",
                stop: "#stop",
                box: "#box",
                customLoadingMessage: "Processing",
                aiAvatarSource: "{{ url_for('static', filename='assets/images/momo-avatar.jpg') }}",
                userAvatarSource: "{{ url_for('static', filename='assets/images/user-shakespeare-regular.svg') }}"

            };

            new LexiStream(streamConfig);
        });


    </script>

{% endblock %}